html, body {
    margin: 0;
    padding: 0;
}
body{
	/*background-color: #FCFCFC;*/
	font-size: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: black;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 26.4px;
	text-align: center;
	word-spacing: 5px;
	letter-spacing: 5px;
	background: -webkit-linear-gradient(top,#FCFCFC,#EFEFEF 50%);
    background: linear-gradient(180deg,#FCFCFC,#EFEFEF 50%);
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    color: rgba(0,0,0,.8);
    min-width: 1024px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3{
	text-align: left;
	margin-top: 300px;
	margin-left: 70px;
	position: absolute;
	font-size: 1.5em;
	font-weight: 800;
	color: #424242;
}
a:hover{
	color: #C71585;
}

p{
	text-shadow:.5px .5px 5px #757575;
	line-height: 60px;
}
#options{
	margin-top: 100px;
}
#topBar{
	margin-right: -20px;
	margin-left: -20px;
	height: 60px;
	background: #375361;
	box-shadow: 3px 3px 4px #757575;
}
#web{
	width: 150px;
	height: 150px;
	font-size: .8em;
	background-color: #496a80;
	float: right;
	margin-right: 10px;
	margin-top: 150px;
}
#web:hover{
	width: 230px;
	height: 230px;
	margin-top: 70px;
}
#python{
	width: 150px;
	height: 150px;
	font-size: .8em;
	background-color: #496a80;
	float: right;
	margin-right: 130px;
	margin-top: 10px;
}
#python:hover{
	width: 230px;
	height: 230px;
	margin-right: 50px;
	/*margin-top: 70px;*/
}
#cplus{
	width: 200px;
	height: 200px;
	font-size: 1.6em;
	background-color: #496a80;
	float: right;
	margin-right: 160px;
	margin-top: 100px;
}
#cplus:hover{
	width: 270px;
	height: 270px;
	margin-top: 30px;
	margin-right:90px;
}
#graphics{
	width: 200px;
	height: 200px;
	font-size: 1em;
	line-height: 30px;
	background-color: #496a80;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
#graphics:hover{
	width: 280px;
	height: 280px;
	/*margin-top: 70px;*/
}
.sections{
	margin-right: -50px;
	margin-top: 30px;
}
.link{
	color: black;
	text-decoration: none;
}
#cplus:hover > .content{
	float: right;
	font-size: 1.6em;
	margin-right: -20px;
}
#python:hover > .content{
	float: right;
	letter-spacing: 0px;
	font-size: 2em;
	margin-right: -10px;
}
#web:hover > .content{
	float: left;
	text-align: left;
	font-size: 2em;
	line-height: 40px;
	margin-left: -10px;
}
#graphics:hover > .content{
	float: left;
	text-align: left;
	font-size: 1.5em;
	line-height: 40px;
	margin-left: -10px;
}
.content{
	margin-top: 50%;
	color: white;
	font-weight: 900;
	display: block;
}