body {
		font-family: Helvetica;
		color: dimgray;
}
h1 {
		text-align: center;
		color: maroon;
}
h2 {
		margin-bottom: 0px;
}
ul {
		margin-top: 1px;
		margin-bottom: 1px;
		list-style-type: circle;
}
.tabs {
		padding-left: 1em;
		padding-bottom: 0px;
		padding-top: 0px;
}
