body {
		font-family: Helvetica;
		color: black;
		margin-right: 5%;
}
h1 {
		text-align: center;
		color: maroon;
}
h2 {
		margin-bottom: 1px;
		border-bottom-width: 1px;
		border-bottom-color: dimgray;
		border-bottom-style: dotted;
}
ul {
		margin-top: -10px;
		margin-bottom: -10px;
		list-style-type: circle;
}
span {
		float: right;
		margin-right: 5%;
		font-weight: bold;
}
.tabs {
		margin-top: -10px;
		margin-bottom: -10px;
		list-style-type: none;
}
.less_padding {
		margin-top: 1px;
		margin-bottom: 1px;
}
