body {
		font-family: Helvetica;
		color: black;
}
h1 {
		text-align: center;
		color: maroon;
}
h2 {
		margin-bottom: 1px;
		border-bottom-width: 1px;
		border-bottom-color: dimgray;
		border-bottom-style: dotted;
}
ul {
		margin-top: 1px;
		margin-bottom: 1px;
		list-style-type: circle;
}
.tabs {
		margin-top: 1px;
		margin-bottom: 1px;
		list-style-type: none;
}
